.login-container {
    display: flex;
    width:100%;
    height:100%;
    background: var(--background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

}

.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:50%;
    height: 50%;
    border:1px solid var(--border-color);
    box-sizing: border-box;
    overflow: hidden;
    margin:20px;
}

.login {
    color: var(--primary-text);
    font-size: x-large;
    box-sizing: border-box;
}



.input-flex {
    align-self: center;
    width:50%;
    margin:10px;
}

.button-flex {
    width:50%;
   
}

.flex-container-1 {
    display: flex;
    flex-direction:row;
    width: 100%;
}

.flex-item-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:50%;
    text-align: center;
}

.flex-item-2 {
    display: flex;
    justify-content: flex-start;
    width:50%;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    text-align: center;
  }


  .flex-table-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      height:100%;
      justify-content: space-around;
  }

  .flex-add-child {
      display: flex;
      width:100%;
      flex-direction: row;
      justify-content: flex-end;
  }

  .flex-table {
      width:100%;
      height:60%;
  }

  .flex-table-metadata {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .child-full-view {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20%;
      column-gap: 20%;
      height: 100%;
  }

  .image-profiler {
      
  }