<div [formGroup]="registerForm" class="login-container">
    <div class="flex-container card">
        <div class="flex-container-1">
            <div class="flex-item-1">
                <a routerLink ="/login" class="previous" href="#">&laquo; Login</a>
            </div>
            
            <div class="flex-item-2" id="circle">
                <p style="text-align:center;width:100%;">LOGO</p>
            </div>
        </div>
        <div class="login">REGISTER</div>
        <input type="text" class="input-flex" [ngStyle]="{'border-bottom': valid_user? 'green':'red'}" placeholder="Name" formControlName="name">
        <input type="text" class="input-flex" [ngStyle]="{'border-bottom': valid_user? 'green':'red'}" placeholder="Organization" formControlName="organization">
        <input type="text" class="input-flex" [ngStyle]="{'border-bottom': valid_user? 'green':'red'}" placeholder="Designation" formControlName="designation">
        <input type="text" class="input-flex" [ngStyle]="{'border-bottom': valid_user? 'green':'red'}" placeholder="Username" formControlName="username">
        <input type="password" class="input-flex" [ngStyle]="{'border-bottom': valid_user? 'green':'red'}" placeholder="Password" formControlName="password">
        <input type="password" class="input-flex" [ngStyle]="{'border-bottom': valid_user? 'green':'red'}" placeholder="Confirm Password" formControlName="confirm_password">
        <button class="btn btn-success button-flex"  type="button" (click)="register()">Register</button>
    </div>
</div>
